
.dashMain {
    display: flex;
    flex-direction: column;
    background:  #F7F8FC;
    width: 100%;
    height: 100vh;
    max-width: 1300px;
   
 
    
}

.dashArticle{
    max-width: 800px;
    width: 80%;
}
.dashH1 { 
    margin: 1.3rem 3rem ;
    text-align: start;
    color: #252733; 
    font-size: 1.5rem;
}


.dashH2 { 
    position:relative;
    margin: 1.3rem 3rem ;
    text-align: start;
    color: #252733; 
    font-size: 1.1rem;
    top:1.5rem;
}



 .search {
    border: 1px solid #DFE0EB;
    background: #ffffff ;
    width: 100%;
    margin: 1.3rem 3rem ;
    padding: 3rem;
    display: flex;
    justify-content: center;
     align-items: center;
     
      

     .dashButton {
        
        border: none;
        background: rgb(74,118,255);
        background: linear-gradient(90deg, #1dbbbf 0%, #137c80 100%);
        color: #fff;
     
        font-weight: 500;
        text-decoration: none;
        margin-left:1rem;

        font-size: 1rem;
        letter-spacing: 2px;
        outline: none;
        cursor: pointer;
        border-radius: 0.5rem;
        padding: 0.5rem;

       
    }
   
   
    .dashInput { 
          padding: 0 8px;
          width: 50%;
          height: 2rem;
          border: 1px solid #DFE0EB;
          border-radius: 0;
          background: #F7F8FC;
 
          
      }
 }

 .image-found {
    border: 1px solid #DFE0EB;
    width: 100%;
    background: #ffffff ;
    
    margin: 0 3rem ;
    padding: 3rem;

    display: flex;
    .image-text {
        height:100%;
        width: 80%;
       position: relative;
        display: flex;
        flex-direction: column;
        text-align: start;
       
        img { 
            width: 100%;
            max-width: 500px;
            max-height: 400px;
            height: auto;
        }

        span {
            margin-bottom: 2.5rem ;
        }

    }

    ul {
        padding: 0 ; 
        margin:0;
        height: 100%;
        width: 20%;
        display: flex;
       
        flex-direction: column;
       
        border-left: 1px solid #DFE0EB;
        
        li {
            display: flex;
       
        flex-direction: column;
            
            justify-content: center;
            text-align: center;
            padding: 0.8rem 0 ; 
            width: 100%;
            height: 25%;
            border-bottom: 1px solid #DFE0EB;
        }

        h2 {
            margin: 0 auto;

        }
    }
 }




